* {
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e7e7e7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    line-height: 1.35;
}

a {
    text-decoration: none;
    color: #f3f3f3;
}

.border {
    border-right: #b6b6b6 2px solid;
    height: 450px;
    margin-right: 50%;
}

.border-bot {
    border-bottom: 2px solid #b6b6b6;
    max-width: 85%;
    margin: auto;
}

nav {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #333;
    width: 100%;
    position: fixed;
    opacity: 0.9;
    transition: 0.5s;
}

nav img {
    width: 13rem;
    padding: 0.5rem 1rem;
    
}

nav .links {
    position: absolute;
    right: 1rem;
    top: 0.7rem;
}

nav .links .left-link {
    padding-right: 1.5rem;
    border-right: #f3f3f3 1px solid;
    margin-right: 1.5rem;
    transition : 0.3s ease-out;
}

nav .links .right-link {
    transition : 0.3s ease-out;
}

nav .links > a:hover {
    color: rgb(168, 157, 157);
}

#showcase { 
    
    background: url(../img/ginger-ground-and-raw-root1.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}

#showcase div {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    text-align: center;
}

#showcase div img {
    padding: 1rem;
}

#showcase div p {
    color: #f3f3f3;
    text-transform: uppercase;
    font-size: 2.5rem;
    line-height: 1;
    letter-spacing: 0.4rem;
    margin-top: 1rem;
    padding: 1rem;
}

#products {
    background-color: #e7e7e7;
    color: #505050;
}

#products .product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    text-align: center;
    padding:  2em 10em;
    margin: 1% auto;
}

.product-image img {
    height: 550px;
}

#contacts {
    background-color: #c3c3c3;
    color: #333;
    font-size: 1.7rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
    overflow: auto;
    margin: auto;
    padding: 2rem 1rem;
}

#contacts i {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

#contacts a {
    color: #333;
    padding: 0.5rem 1rem;
    margin: auto;
    transition : 0.3s ease-out;
    border: 1px solid #5a5959;
    text-transform: uppercase;
    font-size: 25px;
}

#contacts a:hover {
    background-color: #5a5959;
    color: #b6b6b6;
}

.container {
    position: absolute;
    margin-top: 6rem;
    left: 50%;
    transform: translate(-50%);
    color: #505050;
    font-size: 1.5rem;
    width: 60%;
}
 .container h2 {
    background-color: #505050;
    color: #f5f5f5;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;

}

form input {
    height: 2rem;
    font-size: 1rem;
}

form input, textarea{
    display: block;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1rem;
    border: none;
}

form textarea {
    padding-top: 0.5rem;
}

.btn {
    margin-top: 1rem;
    transition : 0.3s ease-out;
    border: 1px solid #5a5959;
    text-transform: uppercase;
    font-size: 15px;
    background-color: #5a5959;
    color: #f5f5f5;
}

.btn:hover {
    background-color: #e7e7e7;
    color: #505050;
}

@media(max-width:768px) {
    .border {
        display: none;
    }

    #products .product {
        display: block;
        box-sizing: border-box;
        width: 98%;
        margin: 4% 1%;
        padding: 2rem;
    }

    #products .product img {
        margin: 1rem;
    }

    #showcase {
        background-position: 70%;
    }
    
    #showcase div {
        position: relative;
        margin: auto;
    }

    #contacts {
        display: block;
        padding: 0;
    }

    #contacts div{
        margin: 3rem;
    }
    
    .container {
        width: 90%;
        font-size: 1.3rem;
        margin-top: 4rem;

    }

    .btn {
        margin-bottom: 2rem;
    }
}

@media(max-width:468px) {
    nav img {
        width: 100px;
       padding: 0;
    }

    nav .links {
        position: static;
    }
    
    nav {
        display: block;
        box-sizing: border-box;
        font-size: 0.8rem;
        padding: 0.5rem;
        text-align: center;
    }

    #showcase {
        background-position: 68%;
    }

    #showcase img {
        width: 200px;
    }

    #showcase div p {
        font-size: 1.5rem;
    }

    #products {
        font-size: 0.9rem;
    }

    #products img {
        height: 350px;
    }

    #contacts {
        display: block; 
    }
    
    #contacts p {
        font-size: 1.2rem;

    }

    #contacts .email {
        margin: 2rem 0;
    }
    
    .container {
        width: 90%;
        font-size: 1.3rem;
        margin-top: 4rem;

    }

    .btn {
        margin-bottom: 2rem;
    }
}